extends layout

block content
  .container#welcome
    .header
      h2 시음 관리자 페이지
    .body
      .form.card
        form(action="/poem/addPoem" method="POST")
          .input_group
            .user_id.input
              label ID
              input(type="text" name="id")
            .password.input
              label PW
              input(type="password" name="password")
          .input_group
            .btn_group.input
              button.submit(type="submit") Log In

