extends layout

block content
  div(align="center" )
    img(src="../images/logo.png" width = "250", height= "100")
    br
    br
    div 
      b Welcome to Jieumjigi :^) 
    br
    div 
      b Poem Registration Page.
    br
    
    form.form-inline(action="/poem/addPoem" method="POST")
      div.container(class= "form-group row" )
        input.form-control(type="text" name="title"  placeholder="Title of Poem")
        |  
        input.form-control(type="text" name="poetName" placeholder="Poet name" )
        br
        br
        input.form-control(type="text" name="introPoet" placeholder="Introducttion of poet")
        |  
        input.form-control(type="text" name="linkToBook" placeholder="Address to the book link")
        br
        br
        input.form-control(type="text" name="picUrlOfPoet" placeholder="Picture URL of poet.")
        |  
        input.form-control(type="text" name="pushDueDay" placeholder = "Push Due (ex: 2017-03-14)")
        br
        br
        input.form-control(type="text" name="picUrl" placeholder = "Background Image URL")
        br
        br
        textarea.form-control(placeholder="Poem Contents" name="contents" cols = "50" rows="20")
        br
        br
        input(type="submit" class="btn btn-default" value='Submit ✓') 
    