extends layout

block content
  .container#welcome
    .header
      center
        h2 시음과 함께하기
    center
      .body(style="width:33%")
        .form.card
            form(action="/user/signup" method="POST")
              .input_group
                .name.input
                  label 이름
                  |
                  input(type="text" name="name")
                br
                .email.input
                  label 이메일
                  | 
                  input(type="text" name="email")
                br
                .password.input
                  label 비밀번호
                  | 
                  input(type="password" name="password")
                br
              .input_group
                .btn_group.input
                  center
                    button.submit(type="submit") 회원가입

